@font-face {
    font-family: MB;
    src: url(/assets/fonts/Montauk-Bold.otf);
}
@font-face {
    font-family: MI;
    src: url(/assets/fonts/Montauk-Italic.otf);
}
@font-face {
    font-family: ML;
    src: url(/assets/fonts/Montauk-Light.otf);
}
@font-face {
    font-family: MR;
    src: url(/assets/fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: FO;
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}
.bg-body-tertiary{
    background-image: url(/assets/bgtexture.jpg);
}
.nav-link{
font-family: FO;
color: #5F002B;
}
.bg{
    background-image: url(/assets/bgtexture.jpg);
}
