@font-face {
    font-family: MB;
    src: url(/assets/fonts/Montauk-Bold.otf);
}
@font-face {
    font-family: MI;
    src: url(/assets/fonts/Montauk-Italic.otf);
}
@font-face {
    font-family: ML;
    src: url(/assets/fonts/Montauk-Light.otf);
}
@font-face {
    font-family: MR;
    src: url(/assets/fonts/Montauk-Regular.otf);
}
@font-face {
    font-family: FO;
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}
/* cards */
.card{
    border-radius: 0%;
}
.card-title{
    font-family: FO;
    color: #5F002B;
    font-size: 1.875rem;
}
.card-text{
    font-family: MR;
    color: #5F002B;
    font-size: 1.25rem;
}
.card-img-bottom{
    border-radius: 0%;
   
}
/* backgrounds */
.bg-body-tertiary{
    background-image: url(/assets/bgtexture.jpg);
}
.bg{
    background-image: url(/assets/bgtexture.jpg);
}
/* navbar */
.nav-link{
font-family: FO;
color: #5F002B;
}
/* footer */
.footertext{
    font-family: MR;
    color: #5F002B;
}
.footer-padding{
    padding-left: 140px;
    padding-right: 100px;
}
/* home */

/* Photos Page */
.title-text{
    font-family: FO;
    font-size:  3.125rem;
    color: #5F002B;
}

.imgsizes{
     width: 24.8%;
    /* height: 100%;*/
    border-radius: 0; 
   object-fit: cover;
   padding: 0.625rem;


}

/* End of Photos Page */

/* Menu Page */

/* End of Menu Page */